*.iml
.gradle
/local.properties
./idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/kotlinc.xml
/app/src/main/assets/model/engUSA/model.onnx
/app/src/main/assets/model/engUSA/tokens.txt
/app/release/
